@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
* {
    padding: 0;
    margin: 0;
}
.navbar {
    background-color: #0f0f0f;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: 'DM Serif Text', serif;
}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}
nav a.active {
    color: #007bff;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
}
a {
    text-decoration: none;
    color: white;
}
body {
    margin: 0;
    text-align: center;
    background-color: #0f0f0f;
    font-family: "Times New Roman", Times, serif;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #0f0f0f;
    color: white;
    text-align: center;
}
footer h2{
    padding: 0.5rem 1rem;
}
h2 {
    color: white;
    margin: 2%;
    z-index: 100;
}
section {
    margin: 5% auto 25%;
    height: 30em;
    width: 80%;
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50px);
    transition: all 1.2s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    color: white;
}
.s2 h1 {
    font-size: 2em;
    color: white;
}
.itemList {
    color: white;
}
.item {
    margin: 10px;
}
.item:nth-child(2){
    transition-delay: 150ms;
}
.item:nth-child(3){
    transition-delay: 300ms;
}
.item:nth-child(4){
    transition-delay: 450ms;
}
.item:nth-child(5){
    transition-delay: 600ms;
}
.item:nth-child(6){
    transition-delay: 750ms;
}
.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: grid;
  place-content: center;
}
.hero-text {
    color: white;
    font-size: 3em;
}
p {
    font-size: 1.2rem;
}
.accordion .accordion-item {
    border-bottom: 1px solid #ddd;
    width: 60%;
    margin: 0 auto;
}
.accordion-header {
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}
.accordion-header:hover {
    background-color: #e0e0e0;
}
.accordion-content {
    padding: 15px;
    display: none;
    background-color: #fafafa;
}
.accordion-header.active {
    background-color: #d0d0d0;
    color: #007bff;
}
.accordion-item:first-child .accordion-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.accordion-item:last-child .accordion-header {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.contact-message {
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 10px;
    color: #333;
    border-radius: 4px;
}
.contact-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.contact-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9em;
}
.entryarea {
    position: relative;
    height: 5em;
}
.entryarea input {
    outline: none;
    width: 100%;
    height: 50%;
    font-size: 1.6em;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 12px;
    border: 2px solid #ddd;
    background: transparent;
    transition: 0.2s ease;
    z-index: 2;
}
.entryarea input:valid {
    color: white;
    border: 2px solid white
}
.entryarea input:focus{
    color: #007bff;
    border: 2px solid #007bff;
}
.entryarea textarea {
    outline: none;
    width: 22em;
    height: 9em;
    font-size: 1.6em;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 12px;
    border: 2px solid #ddd;
    background: transparent;
    transition: 0.2s ease;
    z-index: 2;
}
.entryarea textarea:valid {
    color: white;
    border: 2px solid white
}
.entryarea textarea:focus{
    color: #007bff;
    border: 2px solid #007bff;
}
.labelline {
    position: absolute;
    color: #f0ffff;
    left: 5%;
    top: 13%;
    transition: 0.2s ease;
    z-index: 1;
    border-radius: 20px;
}
.entryarea input:valid + .labelline {
    color: white;
    z-index: 3;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: max-content;
    transform: translate(-5%, -110%);
    background-color: #0f0f0f;
    z-index: 3;
}
.entryarea input:focus + .labelline {
    color: #007bff;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: max-content;
    transform: translate(-5%, -120%);
    background-color: #0f0f0f;
    z-index: 3;
}
.entryarea textarea:valid + .labelline {
    color: white;
    z-index: 3;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: max-content;
    transform: translate(-5%, -110%);
    background-color: #0f0f0f;
    z-index: 3;
}
.entryarea textarea:focus + .labelline {
    color: #007bff;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: max-content;
    transform: translate(-5%, -120%);
    background-color: #0f0f0f;
    z-index: 3;
}
.submitButton button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submitButton button:hover {
    background-color: #0056b3;
}
#result {
    display: none;
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#result.success {
    color: #155724;
    margin: 10px auto;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}
#result.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}
#resultInfo {
    color: white;
}
.resultContainer {
    margin: auto;
    background-color: gray;
    max-width: 60%;
    border-radius: 10px;
}